<section id="info" class="py-3">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/img/ola-2.jpg" alt="moje zdjęcie" class="img-ola img-fluid">
          </div>
      <div class="col-md-6 align-self-center py-3">
        <h3>O mnie</h3>
        <p>Cześć, jestem Ola, pochodzę z Bielska... Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor laboriosam sequi voluptas deserunt delectus aspernatur quo, facere suscipit dolore unde!</p>
        <a href="about-page" class="btn btn-primary btn-lg d-flex justify-content-center">Więcej</a>
      </div>

    </div>
  </div>
</section>
