<div class="text-center d-block mt-2">
  <a
    href="https://www.instagram.com/whataboutbeinghappy/?hl=pl"
    target="_blank"
  >
    <img
      src="../../../assets/img/instagram-brands.svg"
      alt=""
      height="25px"
      class="m-3 grow"
  /></a>
  <a href="https://www.facebook.com/AMatejkoFotografie-100454754881915" target="_blank">
    <img
      src="../../../assets/img/facebook-square-brands.svg"
      alt=""
      height="25px"
      class="m-3 grow"
  /></a>
</div>
<h6 class="text-center">Aleksandra Matejko Fotografia © 2020</h6>
<h6 class="text-center mb-5">
  Projekt i wykonanie
  <span
    ><a class="btn-link" href="https://www.marcinmatejko.pl/" target="_blank"
      >Marcin Matejko</a
    ></span
  >
</h6>
