<div class="container">
  <div class="text-center d-block mt-2">
    <a href="https://www.instagram.com/whataboutbeinghappy/?hl=pl" target="_blank"> <img src="../../../assets/img/instagram-brands.svg" alt="" height="25px" class="m-3"></a>
    <a href="https://www.facebook.com/whataboutbeinghappy" target="_blank"> <img src="../../../assets/img/facebook-square-brands.svg" alt="" height="25px" class="m-3"></a>
  </div>
  <h6 class="text-center mb-5">Aleksandra Matejko Fotografia © 2019</h6>
</div>
