<nav
  @fadeRight
  class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="AM ">AM Fotografia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-item nav-link" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="Home">Home</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-item nav-link" routerLink="/about-page" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="O mnie">O mnie</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a routerLink="/offer" class="nav-item nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="Oferta">Oferta</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a routerLink="/stories" class="nav-item nav-link" routerLink="/not-build-page" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="Historie">Historie</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-item nav-link" routerLink="/faq" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="FAQ">FAQ</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-item nav-link" routerLink="/contact" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="Kontakt">Kontakt</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-item nav-link" href="https://www.whataboutbeinghappy.com" target="_blank" rel="noopener" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" name="Blog whataboutbeinghappy">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav
>
