<section class="header" id="home-header">
  <div class="container my-4">
    <div class="row">
      <div class="col-md-4 mt-2">
        <div class="card">
            <img src="../../../assets/img/card-header/img-1.JPG" alt="img-oferta" class="img-fluid card-img top mb-3 d-none d-md-block">
            <img src="../../../assets/img/card-header/img-1-small.JPG" alt="img-oferta" class="img-fluid card-img top mb-3 d-md-none">
            <a href="" class="btn btn-outline-secondary btn-block">Oferta</a>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="card">
            <img src="../../../assets/img/card-header/img-2.JPG" alt="img-oferta" class="img-fluid card-img top mb-3 d-none d-md-block">
            <img src="../../../assets/img/card-header/img-2-small.JPG" alt="img-oferta" class="img-fluid card-img top mb-3 d-md-none">
            <a href="" class="btn btn-outline-secondary btn-block">Kontakt</a>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="card">
            <img src="../../../assets/img/card-header/img-3.JPG" alt="img-oferta" class="img-fluid card-img top mb-3 d-none d-md-block">
            <img src="../../../assets/img/card-header/img-3-small.JPG" alt="img-oferta" class="img-fluid card-img top mb-3 d-md-none">
            <a href="" class="btn btn-outline-secondary btn-block">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</section>
