<section class="header" id="home-header">
  <div class="my-4">
    <div class="row">
      <div @fadeUp class="col-md-4 mt-2">
        <div class="card">
          <img
            src="../../../assets/img/card-header/img-1.JPG"
            alt="img-oferta"
            class="img-fluid card-img top mb-3 d-none d-md-block"
          />
          <img
            src="../../../assets/img/card-header/img-1-small.JPG"
            alt="img-oferta"
            class="img-fluid card-img top mb-3 d-md-none"
          />
          <a routerLink="/offer" class="btn btn-outline-primary btn-block"
            ><strong>Oferta</strong></a
          >
        </div>
      </div>
      <div @fadeUp1 class="col-md-4 mt-2">
        <div class="card">
          <img
            src="../../../assets/img/card-header/img-2.JPG"
            alt="img-oferta"
            class="img-fluid card-img top mb-3 d-none d-md-block"
          />
          <img
            src="../../../assets/img/card-header/img-2-small.JPG"
            alt="img-oferta"
            class="img-fluid card-img top mb-3 d-md-none"
          />
          <a class="btn btn-outline-primary btn-block" routerLink="/contact"
            ><strong>Kontakt</strong></a
          >
        </div>
      </div>
      <div @fadeUp2 class="col-md-4 mt-2">
        <div class="card">
          <img
            src="../../../assets/img/card-header/img-3.JPG"
            alt="img-oferta"
            class="img-fluid card-img top mb-3 d-none d-md-block"
          />
          <img
            src="../../../assets/img/card-header/img-3-small.JPG"
            alt="img-oferta"
            class="img-fluid card-img top mb-3 d-md-none"
          />
          <a routerLink="/faq" class="btn btn-outline-primary btn-block"
            ><strong>FAQ</strong></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
