<div class="mb-3 mt-3">
  <h3 class="text-center mb-1">INSTAGRAM</h3>
  <a class="d-flex justify-content-center instagramLink mb-4" href="https://www.instagram.com/whataboutbeinghappy/?hl=pl" target="_blank">@whataboutbeinghappy</a>
  <!-- SnapWidget 6x1 -->
  <div class="d-none d-md-block">
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/765236" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
  </div>

  <!-- SnapWidget  3x1-->
  <div class="d-block d-md-none">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/765239" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
  </div>

</div>
