<div class="card my-4 border-0">
  <div class="card-header bg-transparent text-center">
    <h2 class="card-title">Strona w budowie.</h2>
  </div>
  <div class="card-body text-center">
    <h4 class="card-text">Niestety ta strona nie jest jeszcze gotowa.</h4>
    <p class="text-center">Aby zobaczyć najnowsze sesje zapraszam na mojego 
      <span><a href="https://www.facebook.com/AMatejkoFotografie-100454754881915" target="_blank" rel="noopener">
        facebooka.</a></span>
    </p>
  </div>
</div>
