<div class="card my-4 border-0">
  <div class="card-header bg-transparent text-center">
    <h2 @fadeDown class="card-title">Oferta</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8 col-md-6 align-self-center">
        <h5 @fadeRight class="card-subtitle pb-3 text-center">
          SESJA LIFESTYLOWA:
        </h5>
        <h5 @fadeRight class="card-subtitle text-center">
          noworodkowa | rodzinna | ciążowa | narzeczeńska | kobieca
        </h5>
        <div @fadeRight class="card-body">
          <p>
            Gdyby tak zatrzymać na chwilę czas i uwiecznić waszą codzienność?
            Siedzicie na kanapie, pijecie kawę, śmiejecie się i wygłupiacie z
            dzieckiem. A może spacerujecie po ulubionym lesie, jecie przekąski
            leżąc na łące, a w tle słychać szum liści i śpiew ptaków? Albo
            leżycie na łóżku, przytulacie się i mówicie sobie miłe słówka?
            Zatrzymajmy te momenty, uśmiechy i emocje, do których zawsze chętnie
            się wraca! Sesje w domu i w plenerze.
          </p>
          <p>Z przyjemnością uwiecznię dla Was te chwile.</p>
          <p>
            200 zł - 12 wybranych zdjęć w formie elektronicznej i 5 w papierowej
            13 x 18 cm
          </p>
          <p>
            280 zł – 20 wybranych zdjęć w formie elektronicznej i 10 w
            papierowej 13 x 18 cm
          </p>
          <p>
            600 zł – 40 wybranych zdjęć w formie elektronicznej i
            papierowej oraz pamiątkowy album.
          </p>
          <p>
            Każde dodatkowe zdjęcie 20zł za sztukę. Wybór pakietu następuje
            najpóźniej w dniu sesji, przed sesją.
          </p>
          <p>
            Istnieje możliwość dokupienia pięknego albumu za dodatkową opłatą.
          </p>
        </div>
      </div>
      <div @fadeLeft class="col-lg-4 col-md-6">
        <img
          src="../../../assets/img/ola/marysia.jpg"
          alt="moje zdjęcie"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="d-none d-md-block col-lg-4 col-md-6">
        <img
          src="../../../assets/img/ola/ola-3.jpg"
          alt="moje zdjęcie"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-8 col-md-6 align-self-center">
        <h5 class="card-subtitle text-center py-3">SESJA WIZERUNKOWA:</h5>
        <h6 class="card-subtitle text-center">
          Media społecznościowe | blog | strona internetowa | książka
        </h6>
        <div class="card-body">
          <p>
            Jeżeli prowadzisz blog, albo aktywnie działasz w mediach
            społecznościowych, z pewnością potrzebujesz mnóstwo naprawdę dobrych
            zdjęć. Wybierzmy wspólnie miejsce i koncepcję sesji i zacznijmy
            współpracę!
          </p>
          <p>
            Ceny ustalane są indywidualnie, zależnie od ilości i rodzaju zdjęć.
            Napisz do mnie na: aleks.matejko@gmail.com, albo zajrzyj do sekcji
            <span
              ><a class="btn-link" routerLink="/contact" name="kontakt"
                >kontakt.</a
              ></span
            >
          </p>
        </div>
      </div>
      <div class="d-block d-md-none col-lg-4 col-md-6">
        <img
          src="../../../assets/img/ola/ola-3.jpg"
          alt="moje zdjęcie"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="text-center py-5">
      <h5>
        Jeśli masz jakieś pytania zajrzyj do sekcji
        <span><a class="btn-link" routerLink="/faq" name="FAQ">FAQ.</a></span>
      </h5>
    </div>
  </div>
</div>
