  <div class="card border-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="card-title">Napisz do mnie</h2>
          <form>
            <div class="form-group">
              <label for="name"></label>
              <input type="text" id="email" class="form-control" placeholder="Imię" required>
            </div>
            <div class="form-group">
              <label for="email"></label>
              <input type="email" id="email" class="form-control" placeholder="Adres email" required>
            </div>
            <div class="form-group">
              <label for="textArea"></label>
              <textarea name="" id=""  rows="6" class="form-control" placeholder="Twoja wiadomość" required></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Check1" required>
                <label class="form-check-label" for="eCheck1">Korzystając z formularza zgadzasz się na przechowywanie i przetwarzanie Twoich danych przez tę witrynę.</label>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-block mb-3">Wyśij</button>
          </form>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/img/ola.jpg" alt="moje zdjęcie" class="img-ola img-fluid">
        </div>
      </div>
    </div>
  </div>
